/**
 * <pre>
 * 蜈ｱ騾壹せ繧ｿ繧､繝ｫ繧ｷ繝ｼ繝�
 * </pre>
 * @since 1.0
 * @version $Revision: 1.1 $
 * @author 譌･遶�
 */

/* 繧ｳ繝ｳ繝�繝ｳ繝�縺ｮ蜈ｱ騾� */
BODY.comPage {
  BACKGROUND-COLOR: #ffffff;
  margin: 0pt 0pt 0pt 0pt;
}
TABLE.comTitle
{
  margin: 0pt 0pt 0pt 0pt;
  padding: 0pt 0pt 0pt 0pt;
  border-style: none;
  width: 100%;
  font-size: 11pt;
}
HR.comTitle
{
  color: #336699;
  width: 98%;
  height: 2pt;
}
TD.comTitle
{
  margin: 0pt 0pt 0pt 0pt;
  padding: 0pt 0pt 0pt 0pt;
/*	font-size: 10pt;
  border-style: solid;
  border-width: 1pt;*/
}
IMG.comSmallIcon
{
  width: 13pt;
  height: 13pt;
  vertical-align: bottom;
}
IMG.comIco
{
  cursor: hand;
  vertical-align:bottom;
  border-style: none;
}
HR.comSplit			/* 蛻�蜑ｲ邱壼､ｧ */
{
  color: #336699;
  width: 99%;
  height: 1pt;
}
SELECT.comItem
{
  color: #000000;
  background-color: #ffffff;
  /*padding: 0pt;*/
  /*font-size: 10pt;*/
}

/***************** 繝昴�ｼ繧ｿ繝ｫ邱ｨ *********************/

TABLE.comPortalTable	/* 蜈ｨ逕ｻ髱｢逕ｨ繝昴�ｼ繧ｿ繝ｫ螟ｧ譫� */
{
  margin-top:10pt;
  width:540pt;
  background-color:#ffffff;
  border-color:#666666;
  padding : 1pt 1pt 1pt 1pt;
}
TABLE.comPortalTableBlue	/* 蜈ｨ逕ｻ髱｢逕ｨ繝昴�ｼ繧ｿ繝ｫ螟ｧ譫� 髱定レ譎ｯ */
{
  margin-top:10pt;
  width:540pt;
  background-color:#D7EEFF;
  border-color:#666666;
  padding : 1pt 1pt 1pt 1pt;
}
TABLE.comPortalBodyTable		/* 蜈ｨ逕ｻ髱｢逕ｨ繝昴�ｼ繧ｿ繝ｫ繝懊ョ繧｣繝ｼ */
{
  background-color: #999999;
  border-style:	solid;
  border-width:	0pt;
  margin: 0pt;
  padding: 0pt;
  width:	100%;
}
TABLE.comPortalTitle	/* 蜈ｨ逕ｻ髱｢逕ｨ繝昴�ｼ繧ｿ繝ｫ繧ｿ繧､繝医Ν */
{
  padding: 0pt;
  margin: 0pt;
  width:	100%;
  background-color:#EE1100;
}
TABLE.comPortalBody		/* 蜈ｨ逕ｻ髱｢逕ｨ繝昴�ｼ繧ｿ繝ｫ譫�縺ｮ繝懊ョ繧｣繝ｼ驛ｨ蛻� */
{
  background-color: #ffffff;
  border-style:	solid;
  border-color:	#EE1100;
  border-width:	1pt;
  margin: 0pt;
  padding: 2pt;
  width:	100%;
}
TABLE.comPortalMainTable		/* 繝｡繧､繝ｳ驛ｨ縺ｮ譫� */
{
  padding:0pt;
  border-style:	none;
  margin: 0pt 2pt 2pt 2pt;	/* 荳雁承荳句ｷｦ */
  width:	100%;
  background-color:#ffffff;
}
TABLE.comPortalControlTable
{
/* 陦ｨ遉ｺ菴咲ｽｮ隱ｿ謨ｴ 2001/09/26 */
/* 	padding:	0pt;	/* 荳雁承荳句ｷｦ */
  padding:	0pt 0pt 2pt 0pt;	/* 荳雁承荳句ｷｦ */
  margin:		0pt 0pt 5pt 0pt;	/* 荳雁承荳句ｷｦ */
  border-style:	none;
  width:	100%;
  background-color:#ffffff;
}
TABLE.comPortalControlTablePopup
{
  padding:	0pt 0pt 2pt 0pt;	/* 荳雁承荳句ｷｦ */
  margin:		0pt 0pt 5pt 0pt;	/* 荳雁承荳句ｷｦ */
  border-style:	none;
  width:	100%;
  background-color:#ffffff;
}
TABLE.comPortalControlTableBlue
{
/* 陦ｨ遉ｺ菴咲ｽｮ隱ｿ謨ｴ 2001/09/26 */
/* 	padding:	0pt;	/* 荳雁承荳句ｷｦ */
  padding:	0pt 0pt 2pt 0pt;	/* 荳雁承荳句ｷｦ */
  margin:		0pt 0pt 5pt 0pt;	/* 荳雁承荳句ｷｦ */
  border-style:	none;
  width:	100%;
  background-color:#D7EEFF;
}
TABLE.comPortalControlTablePopupBlue
{
  padding:	0pt 0pt 2pt 0pt;	/* 荳雁承荳句ｷｦ */
  margin:		0pt 0pt 5pt 0pt;	/* 荳雁承荳句ｷｦ */
  border-style:	none;
  width:	100%;
  background-color:#D7EEFF;
}
TD.comPortalControlItem		/* 蛻ｶ蠕｡驛ｨ縺ｮ鬆�逶ｮ */
{
  /*font-size: 6pt;*/
}
TD.comPortalInputItem
{
  padding: 1pt 2pt 1pt 15pt;		/* 荳雁承荳句ｷｦ */
}
TD.comPortalInputItemRight
{
  padding: 1pt 15pt 1pt 2pt;		/* 荳雁承荳句ｷｦ */
  width: 100%;
}
TD.comPortalTitleIcon	/* 蜈ｨ逕ｻ髱｢逕ｨ繝昴�ｼ繧ｿ繝ｫ譫�縺ｮ繧ｿ繧､繝医Ν縺ｮ繧｢繧､繧ｳ繝ｳ驛ｨ蛻� */
{
  padding: 0pt;	/* 荳雁承荳句ｷｦ */
}
TD.comPortalTitle	/* 蜈ｨ逕ｻ髱｢逕ｨ繝昴�ｼ繧ｿ繝ｫ譫�縺ｮ繧ｿ繧､繝医Ν譁�蟄鈴Κ蛻� */
{
  padding: 1pt 0pt 0pt 1pt;	/* 荳雁承荳句ｷｦ */
  font-size: 11pt;
  font-weight: bolder;
  color: #ffffff;
}
TD.comPortalTitleRight	/* 蜈ｨ逕ｻ髱｢逕ｨ繝昴�ｼ繧ｿ繝ｫ譫�縺ｮ繧ｿ繧､繝医Ν縺ｮ蜿ｳ遶ｯ繧｢繧､繧ｳ繝ｳ驛ｨ蛻� */
{
  padding: 0pt;	/* 荳雁承荳句ｷｦ */
  width:100%;
  text-align:right;
}

TD.comPortalReferenceItem
{
  vertical-align: bottom;
  padding: 2pt 5pt 2pt 5pt;	/* 荳雁承荳句ｷｦ */
  background-color: #ffffff;
  color: #000000;
  border-style: none;
  border-color: #000000;
  border-width: 1pt;
  text-align: left;
  font-size: 8pt;
  font-weight: normal;
}
/*************************************************/

/*************** TABLE邱ｨ *************************/
/**
 * 鬆ｭ縺ｮ"螻ｱ逕ｰ螟ｪ驛弱＆繧薙�ｮ繝帙�ｼ繝�繝壹�ｼ繧ｸ"縺ｧ菴ｿ逕ｨ縺励∪縺吶��
 * @since 1.0
 * @author
 */
.comBannerGreeting {
  COLOR: #336699; FONT-FAMILY: inherit; FONT-SIZE: 16pt; FONT-WEIGHT: bold
}
/**
 *	繧ｻ繧ｫ繝ｳ繝�繝ｪ繝ｪ繝ｳ繧ｯ"2001-06-21"縺ｨ縺�縺�譛ｬ譌･譌･莉倥〒菴ｿ逕ｨ縺励∪縺吶��
 */
.comBannerSecondaryText {
  COLOR: #663300; FONT-FAMILY: inherit; FONT-SIZE: 8pt
}
/**
 *	繧ｻ繧ｫ繝ｳ繝�繝ｪ繝ｪ繝ｳ繧ｯ"繝帙�ｼ繝�縺ｸ"縺ｧ菴ｿ逕ｨ縺励∪縺吶��
 */
.comBannerSecondaryLink {
  COLOR: #663300; FONT-FAMILY: inherit; FONT-SIZE: 8pt
}
/**
 * 繧ｻ繧ｫ繝ｳ繝�繝ｪ繝ｪ繝ｳ繧ｯ縺ｮhover縺ｮ謚第ｭ｢
 */
A.comBannerSecondaryLink {color: #663300;}
A.comBannerSecondaryLink:hover {color: #663300;}
A.comBannerSecondaryLink:visited {color: #663300;}

A.comLink		/* visited縺励※繧る�壼ｸｸ騾壹ｊ縺ｮ繝ｪ繝ｳ繧ｯ */
{
  color: #000000;
  font-size:8pt;
}
A.comLink:hover
{
  color: #ff3300;
}
A.comLink:visited
{
  color: #000000;
}
A.comLink:visited:hover
{
  color: #ff3300;
}

A.comMiniLink		/* Clear譁�蟄励�ｮ繝ｪ繝ｳ繧ｯ */
{
  color: #000000;
  font-size:8pt;
  font-style: italic;
}
A.comMiniLink:hover
{
  color: #ff3300;
}
A.comMiniLink:visited
{
  color: #000000;
}
A.comMiniLink:visited:hover
{
  color: #ff3300;
}
A.comSmallLink		/* 繝医ャ繝礼判髱｢荳�隕ｧ逕ｨ */
{
  color: #000000;
  font-size:8pt;
  font-style: italic;
  text-decoration:none;
}
A.comSmallLink:hover
{
  color: #ff3300;
  text-decoration:underline;
}
A.comSmallLink:visited
{
  color: #000000;
}
A.comSmallLink:visited:hover
{
  color: #ff3300;
}
SPAN.comWelcome {
  font-size:10pt;
  font-weight:bold;
  color:#666666;
}
SPAN.comWelcomeWin7 {
  font-size:10pt;
  font-weight:bold;
  color:#666666;
}
INPUT.comButton
{
  font-size: 8pt;
}
INPUT.comCloseButton
{
  padding:0pt;
  height:12pt;
  width:13pt;
/*	background-color: #ffffff;*/
  background-image: url(../img/winclose01.gif);
  background-repeat: no-repeat;
  background-position:100% 100%;
}
TABLE.comDetailTable
{
  padding: 0pt;
  margin:5pt;
}
TD.comDetailItem
{
/*	vertical-align: bottom;*/
  vertical-align: middle;
  padding: 2pt 5pt 2pt 5pt;	/* 荳雁承荳句ｷｦ */
}
TD.comDetailBody
{
  padding: 10pt 8pt 10pt 8pt;	/* 荳雁承荳句ｷｦ */
  border-style: solid;
  border-color: #666666;
  border-width: 1pt;
  text-align: left;
}
/*-----------------------------------------*/
TD.comMessage		/* 蜿ら�ｧ逕ｻ髱｢縺ｮ莉ｶ蜷阪ｒ螟ｧ縺阪￥隕九○繧� */
{
  padding: 5pt 5pt 5pt 5pt;	/* 荳雁承荳句ｷｦ */
/*	background-color: #ffffcc; */
  color: #0000ff;
/*	border-style: solid; */
/*	border-color: #000000; */
/*	border-width: 1pt; */
  text-align: left;
  font-size: 11pt;
  font-weight: bolder;
}
/*----------------------------------------*/
/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ繧ｹ繧ｯ繝ｭ繝ｼ繝ｫ逕ｨ蜑榊ｾ後い繧､繧ｳ繝ｳ */
/*----------------------------------------*/
A.comScroll
{
  color: #000000;
  font-size: 8pt;
  text-decoration: none;
}
A.comScroll:hover
{
  color: #ff3300;
}
A.comScroll:visited
{
  color: #000000;
}
A.comScroll:visited:hover
{
  color: #ff3300;
}
A.comNoScroll
{
  color: #666666;
  font-size: 8pt;
  text-decoration: none;
}

/*--------------------------*/
/* 繝�繝ｼ繝悶Ν蠖｢蠑上↓繧ｿ繝悶ｒ莉伜刈 */
/*--------------------------*/
TD.comTab
{
/* 陦ｨ遉ｺ菴咲ｽｮ隱ｿ謨ｴ 2001/10/01 */
/*	padding: 0pt 0pt 0pt 0pt;	/* 荳雁承荳句ｷｦ */
  padding: 5pt 0pt 0pt 0pt;	/* 荳雁承荳句ｷｦ */
}
TD.comTabCenter {
/*	background-color: #c0c0c0;*/
  background-color: #336699;
  padding-top:1pt;
}
TD.comTabLeft {
  background: url(../img/FFFFFFtl.gif) #336699 no-repeat left top;
  width:10px;
  height:18px;
}
TD.comTabRight {
  background: url(../img/FFFFFFtr.gif) #336699 no-repeat right top;
  width:8px;
}
SPAN.comTabText {
  color: #99ccff;
/*	color: #ff3300;*/
  font-size: 8pt;
  font-weight: bolder;
}

TD.comTabBgLeft {
  background: url(../img/FFFFFFtl.gif) #e6e6fa no-repeat left top;
  width:10px;
  height:18px;
}
TD.comTabBgRight {
  background: url(../img/FFFFFFtr.gif) #e6e6fa no-repeat right top;
  width:8px;
}
TD.comTabBgCenter {
/*	background-color: #ccffff;*/
  background-color: #e6e6fa;
  padding-top:1pt;
}
SPAN.comTabBgText {
  cursor: hand;
  color: #666666;
  font-size: 8pt;
  font-weight: normal;
}
TD.comTableItem				/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}
TD.comTableItem#center		{ text-align : center; }
TD.comTableItem#right		{ text-align : right; }
TD.comTableItem#levelHigh	{ text-align : center; color : #ff3300; }
TD.comTableItem#overdue		{ text-align : center; color : #ff3300; }
TD.comTableItem#red			{ text-align : center; color : #ff3300; }
TD.comTableItem#blue		{ text-align : center; color : #0033ff; }
TD.comTableItem#green		{ text-align : center; color : #006600; }
TD.comTableItem#yellow		{ text-align : center; color : #999933; }
TD.comTableItem#orange		{ text-align : center; color : #ff6600; }

TD.comTableItemUlt				/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #eba800;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comTableItemBlue				/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #D7EEFF;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comTableItemNF401				/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #CEF9DC;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comTableItemNF001				/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #eba800;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
  height : 15px;
}

TD.comTableTitle			/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ繧ｿ繧､繝医Ν鬆�逶ｮ */
{
  color : #000000;
/*	background-color: #e0e0d4;*/
/*	background-color: #cccccc;*/
  background-color: #e8b5a2;
  text-align : center;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comTableTitleUlt			/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ繧ｿ繧､繝医Ν鬆�逶ｮ */
{
  color : #000000;
/*	background-color: #e0e0d4;*/
/*	background-color: #cccccc;*/
  background-color: #eba800;
  text-align : center;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TH.comTableTitleUlt			/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ繧ｿ繧､繝医Ν鬆�逶ｮ */
{
  color : #000000;
/*	background-color: #e0e0d4;*/
/*	background-color: #cccccc;*/
  background-color: #eba800;
  text-align : center;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
  font-weight:normal;
}

TD.comTableTitleNF001			/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ繧ｿ繧､繝医Ν鬆�逶ｮ */
{
  color : #000000;
/*	background-color: #e0e0d4;*/
/*	background-color: #cccccc;*/
  background-color: #eba800;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
  text-overflow: clip;
  white-space: nowrap;
  overflow : hidden;
}

TD.comTableTitleNF001W			/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ繧ｿ繧､繝医Ν鬆�逶ｮ */
{
  color : #000000;
/*	background-color: #e0e0d4;*/
/*	background-color: #cccccc;*/
  background-color: #FFFFFF;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
  resize : horizontal;
  text-overflow: clip;
  white-space: nowrap;
  overflow : hidden;
}

TD.comTableTitleNF001Act			/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ繧ｿ繧､繝医Ν鬆�逶ｮ */
{
  color : #000000;
/*	background-color: #e0e0d4;*/
/*	background-color: #cccccc;*/
  background-color: #FFFFFF;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 0px;
  border-right-width : 0px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TABLE.comTableSearch	/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ讀懃ｴ｢驛ｨ縺ｮ譫� */
{
  background-color: #ffffff;
  margin: 5pt 2pt 5pt 5pt;	/* 荳雁承荳句ｷｦ */
  border-style:none;
  border-width: 1pt;
  border-color: #000000;
}
TD.comTableSearchItem	/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ讀懃ｴ｢驛ｨ縺ｮ鬆�逶ｮ */
{
}
/*------------------------------------*/
/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ繧ｽ繝ｼ繝育畑笆ｲ笆ｼ繧｢繧､繧ｳ繝ｳ */
/*------------------------------------*/
A.comTableSort
{
  color: #0000cd;
  font-size: 6pt;
  text-decoration: none;
}
A.comTableSort:hover
{
  color: #ff3300
}
A.comTableSort:visited
{
  color: #0000cd
}
A.comTableSort:visited:hover
{
  color: #ff3300;
}
A.comTableNoSort
{
  color: #4682b4;
  font-size: 6pt;
  text-decoration: none;
}
A.comTableNoSort:hover
{
  color: #ff3300;
}
A.comTableNoSort:visited
{
  color: #4682b4;
}
A.comTableNoSort:visited:hover
{
  color: #ff3300;
}
/*邂｡逅�逕ｻ髱｢逕ｨ*/
A.comBigMenuTitle {
  color: #330000; font-family: inherit; font-size: 15px; font-weight: bold; text-decoration: none
}
A.comBigMenuTitle:hover {
  color: #ff9900; font-family: inherit; font-size: 17px; font-weight: bold; text-decoration: none
}
A.comBigMenuTitle:visited
{
  color: #330000; font-family: inherit; font-size: 15px; font-weight: bold; text-decoration: none
}
A.comBigMenuTitle:visited:hover
{
  color: #ff9900; font-family: inherit; font-size: 17px; font-weight: bold; text-decoration: none
}

TD.comBigMenu {
  border-bottom: #999999 2px solid; border-left: #999999 0px solid; border-right: #999999 0px solid; border-top: #999999 0px solid; color: #000033; font-family: inherit; font-size: 18px; font-weight: bold; text-decoration: none
}

/**
 *	蜈ｱ譛峨せ繧ｯ繝ｪ繝ｼ繝ｳ繝昴�ｼ繝医Ξ繝�繝育畑繧ｹ繧ｿ繧､繝ｫ
 */
.comPortletHeaderColor {
/* TabForegroundColor縺ｨ讖溯�ｽ縺ｯ蜷後§
   蠢�隕√↑縺ｮ縺玖ｦ∫｢ｺ隱� */
  BACKGROUND-COLOR: #336699
}
/*------------------------------------*/
/* 莉ｶ蜷阪ｄ繧ｿ繧､繝医Ν縺ｮ繝ｪ繝ｳ繧ｯ */
A.comSubject
{
/* bulletinSubject縺ｮline-height: 18px;縺檎┌縺� */
  color: #000000;
  font-size: 8pt;
  text-decoration: underline;
}
A.comSubject:visited
{
  /*color: #666666;*/
  color: #000000;
}
A.comSubject:hover
{
  color: #ff3300;
}
A.comSubject:visited:hover
{
  color: #ff3300;
}
/**
 * 繝医ャ繝励Γ繝九Η繝ｼ逕ｨ
 * @since 1.0
 * @author
 */
A.comTopMenuLink
{
  color: #336699; font-family: inherit; font-size: 8pt; font-weight: bold; text-decoration:none;
}
A.comTopMenuLink#noLink
{
  color: #cccc99;
  /*text-decoration: none;*/
}
A.comTopMenuLink:visited
{
  /*color: #cccc99*/
  color: #336699;
}
A.comTopMenuLink:hover
{
    COLOR: #ff3300
    text-decoration:underline;
}
SPAN.comTopMenuPos {
  position:absolute;
  top: 30px;
  left: 25%;
}
/**
 * 髫�縺励ヵ繧ｩ繝ｼ繝�逕ｨ
 */
FORM.comHidden
{
  visibility:hidden;
  position:absolute;
}
SELECT
{
  font-size: 8pt;
}
IMG
{
  vertical-align: bottom;
}
TABLE
{
  FONT-SIZE: 8pt;
}
A
{
  COLOR: #000000;
  FONT-SIZE: 8pt;
  LINE-HEIGHT: 18px;
  TEXT-DECORATION: underline
}
A:visited
{
    COLOR: #666666
}
A:hover
{
    COLOR: #ff3300
}
INPUT
{
  font-family: "Meiryo UI";
  font-size: 8pt;
}
INPUT.mediumGray
{
	background-color:#a1a4ac;
}
TEXTAREA
{
  font-family: "Meiryo UI";
  font-size: 8pt;
}
TEXTAREA.mediumGray
{
	background-color:#a1a4ac;
}
SELECT
{
  font-family: "Meiryo UI";
  font-size: 8pt;
}
INPUT.comTableInputYellow
{
  background-color: lemonchiffon;
}
SELECT.comTableSelectYellow
{
  background-color: lemonchiffon;
}
TD.comSubjectBolder		/* 蜿ら�ｧ逕ｻ髱｢縺ｮ莉ｶ蜷阪ｒ螟ｧ縺阪￥隕九○繧� */
{
  padding: 5pt 5pt 5pt 5pt;	/* 荳雁承荳句ｷｦ */
  background-color: #ffffcc;
  color: #000000;
  border-style: solid;
  border-color: #000000;
  border-width: 1pt;
  text-align: left;
  font-size: 11pt;
  font-weight: bolder;
}
TD.comWaku					/* 陦ｨ遉ｺ鬆�逶ｮ縺ｮ譫�莉倥″ */
{
  border-style: solid;
  border-top-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-bottom-width: 1pt;
  border-color: #808080;
  padding: 2pt;
}
/*------------------------------*/
/* 蜈ｨ逕ｻ髱｢縺ｧ縺ｮ髱定牡縺ｮ繧ｵ繝悶ち繧､繝医Ν */
/*------------------------------*/
TD.comSubTitle
{
  padding: 1pt 2pt 1pt 10pt;
  font-size: 10pt;
  color: #336699;
  font-weight: normal;
}

/*--------------------------*/
/* 蜈ｨ逕ｻ髱｢縺ｧ縺ｮ轣ｰ濶ｲ縺ｮ繧ｳ繝｡繝ｳ繝� */
/*--------------------------*/
SPAN.comComment
{
  font-size: 8pt;
  color: #666666;
}
SPAN.comSmallComment
{
  font-size: 6pt;
  color: #666666;
}
/*--------------------------*/
/* 蜈ｨ逕ｻ髱｢縺ｧ縺ｮ襍､濶ｲ縺ｮ繧ｳ繝｡繝ｳ繝� */
/*--------------------------*/
SPAN.comRedComment
{
  font-size: 8pt;
  color: #FF0000;
}
SPAN.comSmallRedComment
{
  font-size: 6pt;
  color: #FF0000;
}
body {
  font-family: "Meiryo UI";
}
#menuCat{
  display: none;
}

/*--------------------------*/
/* RDM逋ｻ骭ｲ逕ｻ髱｢邉ｻ */
/*--------------------------*/
TD.comFormTableItem				/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 0px;
  border-right-width : 0px;
  border-bottom-width : 0px;
  font-size   : 8pt;
}
TD.comFormTableItem#center		{ text-align : center; }
TD.comFormTableItem#right		{ text-align : right; }
TD.comFormTableItem#levelHigh	{ text-align : center; color : #ff3300; }
TD.comFormTableItem#overdue		{ text-align : center; color : #ff3300; }
TD.comFormTableItem#red			{ text-align : center; color : #ff3300; }
TD.comFormTableItem#blue		{ text-align : center; color : #0033ff; }
TD.comFormTableItem#green		{ text-align : center; color : #006600; }
TD.comFormTableItem#yellow		{ text-align : center; color : #999933; }
TD.comFormTableItem#orange		{ text-align : center; color : #ff6600; }

TD.comFormTableItemNf212Head				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : left;
  border-style: solid;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comFormTableItemNf212Left				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 0px;
  border-bottom-width : 0px;
  font-size   : 8pt;
}

TD.comFormTableItemNf212Right				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 0px;
  border-right-width : 1px;
  border-bottom-width : 0px;
  font-size   : 8pt;
}

TD.comFormTableItemNf212Foot1				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 0px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comFormTableItemNf212Foot2				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 0px;
  border-right-width : 0px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comFormTableItemNf212Foot3				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 0px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comFormTableItemBlueNf212Head				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #D7EEFF;
  text-align : left;
  border-style: solid;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comFormTableItemBlueNf212Left				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #D7EEFF;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 0px;
  border-bottom-width : 0px;
  font-size   : 8pt;
}

TD.comFormTableItemBlueNf212Right				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #D7EEFF;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 0px;
  border-right-width : 1px;
  border-bottom-width : 0px;
  font-size   : 8pt;
}

TD.comFormTableItemBlueNf212Foot1				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #D7EEFF;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 0px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comFormTableItemBlueNf212Foot2				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #D7EEFF;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 0px;
  border-right-width : 0px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comFormTableItemBlueNf212Foot3				/* NF212 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ */
{
  color : #000000;
  background-color: #D7EEFF;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 0px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  font-size   : 8pt;
}

TD.comFormTableItemBlue				/* 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ蜷�鬆�逶ｮ 髱定レ譎ｯ */
{
  color : #000000;
  background-color:#D7EEFF;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 0px;
  border-right-width : 0px;
  border-bottom-width : 0px;
  font-size   : 8pt;
}

TD.comFormTableItemNf012Head	/* NF012 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ隕句�ｺ縺鈴��逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : center;
  border-style: dotted;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 0px;
  font-size   : 8pt;
  height : 30px;
}

TD.comFormTableItemNf012	/* NF012 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ鬆�逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : left;
  border-style: dotted;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 0px;
  border-bottom-width : 0px;
  font-size   : 8pt;
  height : 30px;
  padding-left : 10px;
}


TABLE.comCustomTable	/* 蜈ｨ逕ｻ髱｢逕ｨ繝昴�ｼ繧ｿ繝ｫ螟ｧ譫� */
{
  margin-top:10pt;
  width:540pt;
  background-color:#ffffff;
  border-color:#666666;
  padding : 1pt 1pt 1pt 1pt;
}

TABLE.comCustomTableBlue	/* 蜈ｨ逕ｻ髱｢逕ｨ繝昴�ｼ繧ｿ繝ｫ螟ｧ譫� 髱定レ譎ｯ */
{
  margin-top:10pt;
  width:540pt;
  background-color:#D7EEFF;
  border-color:#666666;
  padding : 1pt 1pt 1pt 1pt;
}

.comCustomTable tbody td{
resize : horizontal;     // <-繝ｦ繝ｼ繧ｶ縺悟ｹ�繧貞､画峩縺ｧ縺阪ｋ竭�
overflow : hidden;     // <-縺ｯ縺ｿ蜃ｺ縺溘ｉ髱櫁｡ｨ遉ｺ竭｡
white-space : nowrap; // <-謚倥ｊ霑斐＆縺ｪ縺�竭｢
}


TD.comFormTableItemNd012Head	/* ND012 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ隕句�ｺ縺鈴��逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : center;
  border-style: dotted;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 0px;
  font-size   : 8pt;
  height : 30px;
}

TD.comFormTableItemNd012	/* ND012 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ鬆�逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : left;
  border-style: dotted;
  border-top-width : 0px;
  border-left-width : 1px;
  border-right-width : 0px;
  border-bottom-width : 0px;
  font-size   : 8pt;
  height : 30px;
  padding-left : 10px;
}

TD.comFormTableItemNd012Border	/* ND012 繝�繝ｼ繝悶Ν蠖｢蠑上�ｮ鬆�逶ｮ */
{
  color : #000000;
  background-color: #ffffff;
  text-align : left;
  border-style: solid;
  border-top-width : 0px;
  border-left-width : 0px;
  border-right-width : 0px;
  border-bottom-width : 1px;
  font-size   : 6pt;
  height : 1px;
  padding-left : 1px;
}
